/**
* 6408cb8fc43ff49841e181db
* Globotipo Variable @ V1.003
* Codex Foundation
* 2023-09-01 10:43:55.959743
*/

@font-face {
    font-family: "Globotipo Variable";
    src: url(../fonts/5462f4c64759cc666538a326be3e6de1.woff2) format("woff2");
    font-style: normal italic;
    font-weight: 100 900;
    font-stretch: condensed normal;
    font-display: swap
    }